@import '~node_modules/reset-css/sass/reset';
$--color-primary: #ff9500;
$--font-path: '../fonts';
@import "~node_modules/element-ui/packages/theme-chalk/src/index";
body {
    font-size: 16px;
    line-height: 1.5;
}

.section {
    padding: 20px 20px 20px 0px;
    background-color: #f6f9fc;
}